.activeut/__pycache__/
.aut/__pycache__/
__pycache__/
*.pyc
activeut/__init__.py
__init__.py
activeut/__*
*.pyc


# Ignora todos os arquivos __pycache__ e .pyc
__pycache__/
*.py[cod]
**/__pycache__/

# Ambiente virtual Python
venv/

