{% extends 'base.html' %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block content %}
            <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100%">
                <div class="w-50">
                <h1>Login</h1>
                <br/><br/>
                <form action="{% url "login_user" %}" method=POST>
                    {% csrf_token %}
                    <form>
                        <div class="mb-3 mt-4">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username">
                        </div>
                        <div class="mb-3 mt-4">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                        </div>
                        <div class="mb-3 mt-4 form-check">
                        </div>
                        <button type="submit" class="btn btn-secondary">Login</button>
                    </form>
                </form>
            </div>
        </div>
        {% endblock content %}  
    </body>
</html>

    