<!DOCTYPE html>

{% block content %}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand text-center p-4">Campanhas em Andamento</h3>
        </div>
    </header>
 
      <main role="main" class="inner cover">
    
    <form method="post" action="/activeut/campaigns/" enctype="multipart/form-data">
        {% csrf_token %}


    <head>

        <link href="../../static/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="../../static/bootstrap.min.js"></script>
        <script src="../../static/jquery.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../../static/dashboards/dahsboard_campaigns/dashboard_campaigns.css" />
        
        <script type="text/javascript">

       function attTable()
       {
           $( "#totalRealizadas" ).load( "dashboard_campaigns #totalRealizadas");
           $( "#totalRespondidas" ).load( "dashboard_campaigns #totalRespondidas");
           $( "#totalRespondidasAbaixo" ).load( "dashboard_campaigns #totalRespondidasAbaixo");
           $( "#totalNaoRespondidas" ).load( "dashboard_campaigns #totalNaoRespondidas");
           $( "#tempoTotal" ).load( "dashboard_campaigns #tempoTotal");
           $( "#tempoMedio" ).load( "dashboard_campaigns #tempoMedio");
           $( "#tableInfos" ).parent().load( "dashboard_campaigns #tableInfos");
       }

        // function attTable() {
        //   console.log("Fetching data from server...");
        // $.getJSON("dashboards_statistics", function(data) {
        //     console.log("Data received:", data);  
        //     $("#totalEntregues").text(data.fetch_total_delivered);
        //     $("#totalEnviadas").text(data.fetch_total_sent);
        //     $("#totalRespondidasAbaixo").text(data.fetch_total_false);
        //     $("#totalNaoRespondidas").text(data.fetch_total_active);
        //     $("#tempoMedio").text(data.fetch_total_outstanding);
        //     $("#tableInfos").html(data.fetch_details);
        // }).fail(function(jqxhr, textStatus, error) {
        //     console.error("Request Failed: " + textStatus + ", " + error);
        // });
        // }

        </script>
        
        </head>
    <div>

        <div class="container">
            <div class="row px-3" >
              <div class="col-3 col-sm px-4 pb-3">
                <div class="row h-100 cardRes">
                  <div style="max-width: 110px;" class="mt-20 col align-self-center">
                      <div class="cardRes-icon ml-0">
                        <i class="svg-icon svg-icon-green" aria-hidden="true">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 0c-35 0-64 59.5-64 93.7v84.6L8.1 283.4c-5 2.8-8.1 8.2-8.1 13.9v65.5c0 10.6 10.2 18.3 20.4 15.4l171.6-49 0 70.9-57.6 43.2c-4 3-6.4 7.8-6.4 12.8v42c0 7.8 6.3 14 14 14c1.3 0 2.6-.2 3.9-.5L256 480l110.1 31.5c1.3 .4 2.6 .5 3.9 .5c6 0 11.1-3.7 13.1-9C344.5 470.7 320 422.2 320 368c0-60.6 30.6-114 77.1-145.6L320 178.3V93.7C320 59.5 292 0 256 0zM640 368a144 144 0 1 0 -288 0 144 144 0 1 0 288 0zm-76.7-43.3c6.2 6.2 6.2 16.4 0 22.6l-72 72c-6.2 6.2-16.4 6.2-22.6 0l-40-40c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L480 385.4l60.7-60.7c6.2-6.2 16.4-6.2 22.6 0z"/></svg>
                        </i>
                      </div>
                    </div>
                    <div class="ml-12 col-auto align-self-center flex-fill pt-4">
                      <p class="cardResP " style="margin-bottom: -7px; padding-right:105px;">Total Entregues</p>
                      {% for total_delivered in fetch_total_delivered %}
                      <p id="totalEntregues" class="contagem mb-0">{{ total_delivered }}<p>
                      {% endfor %}
                    </p></div>
                </div>
              </div>
              <div class="col-3 col-sm px-4 pb-3">
                <div class="row cardAnswered h-100 p-3">
                  <div style="max-width: 110px;" class="mt-20 col align-self-center">
                      <div class="cardAns-icon ml-0">                
                        <i class="svg-icon svg-icon-blue" aria-hidden="true">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M270.7 9.7C268.2 3.8 262.4 0 256 0s-12.2 3.8-14.7 9.7L197.2 112.6c-3.4 8-5.2 16.5-5.2 25.2v77l-144 84V280c0-13.3-10.7-24-24-24s-24 10.7-24 24v56 32 24c0 13.3 10.7 24 24 24s24-10.7 24-24v-8H192v32.7L133.5 468c-3.5 3-5.5 7.4-5.5 12v16c0 8.8 7.2 16 16 16h96V448c0-8.8 7.2-16 16-16s16 7.2 16 16v64h96c8.8 0 16-7.2 16-16V480c0-4.6-2-9-5.5-12L320 416.7V384H464v8c0 13.3 10.7 24 24 24s24-10.7 24-24V368 336 280c0-13.3-10.7-24-24-24s-24 10.7-24 24v18.8l-144-84v-77c0-8.7-1.8-17.2-5.2-25.2L270.7 9.7z"/></svg>
                          </i>
                      </div>
                    </div>
                    <div class="ml-12 col-auto align-self-center flex-fill pt-4">
                      <p class="cardAnsweredP " style="margin-bottom: -7px;">Total Envidas</p>
                      {% for total_sent in fetch_total_sent %}
                      <p id="totalEnviadas" class="contagem mb-0">{{ total_sent }}<p>
                      {% endfor %}
                    </p></div>
                </div>
              </div>
              <div class="col-3 col-sm px-4 pb-3">
                <div class="row cardAnsweredLess h-100 p-3">
                  <div style="max-width: 110px;" class="mt-20 col align-self-center">
                      <div class="cardAnsLess-icon ml-0">
                        <i class="svg-icon svg-icon-yellow" aria-hidden="true">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 0c-35 0-64 59.5-64 93.7v84.6L8.1 283.4c-5 2.8-8.1 8.2-8.1 13.9v65.5c0 10.6 10.2 18.3 20.4 15.4l171.6-49 0 70.9-57.6 43.2c-4 3-6.4 7.8-6.4 12.8v42c0 7.8 6.3 14 14 14c1.3 0 2.6-.2 3.9-.5L256 480l110.1 31.5c1.3 .4 2.6 .5 3.9 .5c6 0 11.1-3.7 13.1-9C344.5 470.7 320 422.2 320 368c0-60.6 30.6-114 77.1-145.6L320 178.3V93.7C320 59.5 292 0 256 0zM496 512a144 144 0 1 0 0-288 144 144 0 1 0 0 288zm59.3-180.7L518.6 368l36.7 36.7c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0L496 390.6l-36.7 36.7c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6L473.4 368l-36.7-36.7c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L496 345.4l36.7-36.7c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                        </i>
                      </div>
                    </div>
                    <div class="ml-12 col-auto align-self-center flex-fill pt-4">
                      {% for total_false in fetch_total_false %}
                      <p class="cardAnsweredLessP " style="margin-bottom: -7px;">Números Inexistentes</p>
                      <p id="totalRespondidasAbaixo" class="contagem mb-0">{{ total_false }}<p>
                        {% endfor %}
                    </p></div>
                </div>
              </div>
              <div class="col-3 col-sm px-4 pb-3">
                <div class="row cardNoAnswer h-100 p-3">
                  <div style="max-width: 110px;" class="mt-20 col align-self-center">
                      <div class="cardNoAns-icon ml-0">
                        <i class="svg-icon svg-icon-red" aria-hidden="true">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/></svg>
                        </i>
                      </div>
                    </div>
                    <div class="ml-12 col-auto align-self-center flex-fill pt-4">
                      <p class="cardNoAnswerP " style="margin-bottom: -7px; padding-right:150px;">Campanhas Ativas</p>
                      {% for total_active in fetch_total_active %}
                      <p id="totalNaoRespondidas" class="contagem mb-0">{{ total_active }}<p>
                        {% endfor %}
                    </p></div>
                </div>
              </div>
  
              <div class="col-3 col-sm px-4 pb-3">
                <div class="row cardNoAnswer h-100 p-3">
                  <div style="max-width: 110px;" class="mt-20 col align-self-center">
                      <div class="cardAnsLess-icon ml-0">
                        <i class="svg-icon svg-icon-yellow" aria-hidden="true">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M200 0c-30.6 0-56 54.7-56 86.1V192.5L7.8 274.3C2.9 277.2 0 282.4 0 288v64c0 5.1 2.4 9.8 6.4 12.8s9.3 3.9 14.1 2.5l123.4-37v81.2l-50 40c-3.8 3-6 7.6-6 12.5v32c0 5.1 2.5 10 6.6 13s9.5 3.8 14.4 2.2L200 480.9 290.4 511c-1.6-4.7-2.4-9.8-2.4-15V463.4c-18.2-10.5-30.7-29.7-31.9-51.8l-.1-.1V408 325.5 184l0-1.1 0 0V86.1C256 54.7 231.5 0 200 0zm88 176V400c0 20.9 13.4 38.7 32 45.3V488c0 13.3 10.7 24 24 24h16c13.3 0 24-10.7 24-24V448H544v40c0 13.3 10.7 24 24 24h16c13.3 0 24-10.7 24-24V445.3c18.6-6.6 32-24.4 32-45.3V176c0-26.5-21.5-48-48-48H336c-26.5 0-48 21.5-48 48zm79.8 78.7c3.3-8.7 11.2-14.7 20.5-14.7H539.7c9.2 0 17.2 6 20.5 14.7L576 304H352l15.8-49.3zM568 352a24 24 0 1 1 0 48 24 24 0 1 1 0-48zM336 376a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg>
                        </i>
                      </div>
                    </div>
                    <div class="ml-12 col-auto align-self-center flex-fill pt-4">
                      <p class="cardNoAnswerP " style="margin-bottom: -7px; padding-right:150px;">Total Pendentes</p>
                      {% for total_outstanding in fetch_total_outstanding %}  
                      <p id="tempoMedio" class="contagem mb-0">{{ total_outstanding }}<p>
                      {% endfor %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Table -->
          <br>
<br>

<div class="container">
  <div class="row px-3">
    <div id="tableInfos" class="col">
      <div class="boxInfoDetail px-4 pb-3">
        <div class="cardInfoDetail">
          <p style="font-weight: 600; line-height: 143.5%; font-size: 24px;  text-align: center;"><b>&nbsp;&nbsp;Envios Recentes<b></p>
        </div>

        <table id="customers" style="border-radius:15px;">
          <thead style="text-align: left;">
            <tr>
              <th>Campanha</th>
              <th>Nome do Lead</th>
              <th>Número</th>
              <th>Status do envio</th>
              <th>Data / Hora</th>
            </tr>
          </thead>

<tbody>

{% for detail in fetch_details %}
{% for key, data in detail.items %}
  <tr>
      <td>{{ data.campaigns_name }}</td>
      <td>{{ data.lead_name }}</td>
      <td>{{ data.lead_number }}</td>
      <td>{{ data.send_status }}</td>
      <td>{{ data.send_timestamp }}</td>

  </tr>
{% endfor %}
{% endfor %}

</tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-end w-100 pr-3 pt-5 pb-4">
  <h6 class="cpy text-right"><span class="cpy-year">Active messages by UnifyTalk</span></h6>
</div>

<script>
  //attTable();
  //setInterval(attTable, 5000);
  $(document).ready(function() {
    attTable();
    // Set an interval to refresh the data every 30 seconds
    setInterval(attTable, 5000);
});
</script>


<style>

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .centered-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .custom-spinner {
        color: #b00707;
        width: 12rem;
        height: 12rem;
    }

    .loading-text {
        margin-top: 10px;
        color: #b00707;
    }
</style>

<style>
    table {
        border-spacing: unset !important;
        border-collapse: unset !important;
    }

    table tr:last-child td:first-child {
        -moz-border-radius: 0 0 0 6px;
        -webkit-border-radius: 0 0 0 6px;
        border-radius: 0 0 0 6px;
    }

    table tr:last-child td:last-child {
        -moz-border-radius: 0 0 6px 0;
        -webkit-border-radius: 0 0 6px 0;
        border-radius: 0 0 6px 0;
    }

    table tr:last-child:hover td:first-child {
        -moz-border-radius: 0 0 0 6px;
        -webkit-border-radius: 0 0 0 6px;
        border-radius: 0 0 0 6px;
    }

    table tr:last-child td:last-child {
        -moz-border-radius: 0 0 6px 0;
        -webkit-border-radius: 0 0 6px 0;
        border-radius: 0 0 6px 0;
    }

    table tbody tr td {
        border: 1px solid #c3c3c3 !important;
    }
</style>
{% endblock %}
